# Segunda etapa, extração

In [1]:
import pandas as pd

df = pd.read_csv("human_or_ai_dataset.csv")

In [2]:
df.head()

                                                text source
0  12 Years a Slave: An Analysis of the Film Essa...  human
1  20+ Social Media Post Ideas to Radically Simpl...  human
2  2022 Russian Invasion of Ukraine in Global Med...  human
3  533 U.S. 27 (2001) Kyllo v. United States: The...  human
4  A Charles Schwab Corporation Case Essay\n\nCha...  human

In [ ]:
from sklearn.feature_extraction.text import HashingVectorizer

# Initialize the HashingVectorizer
vectorizer = HashingVectorizer(n_features=5000, binary=True, lowercase=True)
X = vectorizer.transform(df['text'])

# Create a sparse DataFrame; since HashingVectorizer doesn't store feature names,
# we generate generic column names.
column_names = [f"feature_{i}" for i in range(X.shape[1])]
df_encoded = pd.DataFrame.sparse.from_spmatrix(X, columns=column_names, dtype="int16")

In [ ]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3400859 entries, 0 to 3400858
Columns: 1000 entries, 000 to yourself
dtypes: int16(1000)
memory usage: 6.3 GB

In [ ]:
df_encoded.to_csv("human_or_ai_dataset.csv", index=False)

## Tentar com outras libs

In [3]:
df = pd.read_csv("human_or_ai_dataset.csv")  # Change this to your actual data source

In [ ]:
#df = df.dropna(subset=['text'])

In [ ]:
# Load large dataset into Dask DataFrame (assuming a CSV file)
from sklearn.feature_extraction.text import CountVectorizer,HashingVectorizer

print(df.info())
# Initialize CountVectorizer

### 
#vectorizer = CountVectorizer(max_features=10000,binary=True)
vectorizer = CountVectorizer(max_features=1000,binary=True)

# Fit and transform the text data
X = vectorizer.fit_transform(df['text'].head(1500000))

# Convert to DataFrame with words as feature names
df_encoded = pd.DataFrame(
    X.astype("int8").toarray(), 
    columns=vectorizer.get_feature_names_out()
)

<class 'pandas.core.frame.DataFrame'>
Index: 1842401 entries, 0 to 1842401
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   text    object
 1   source  object
dtypes: object(2)
memory usage: 42.2+ MB
None

In [ ]:
df_encoded.head()

,00,000,01,02,03,04,05,06,07,08,...,youth,youthful,youths,youtube,zealand,zero,zombie,zombies,zone,zones
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.to_csv("encoded_words.csv", index=False)