# Segunda etapa, extração

In [3]:
import numpy as np
import pandas as pd
import os
import random
def set_seed(seed: int):
    random.seed(seed) # Python
    np.random.seed(seed)  # Numpy, é o gerador utilizado pelo sklearn
    os.environ["PYTHONHASHSEED"] = str(seed)  # sistema operativo

set_seed(25)

In [2]:
import pandas as pd

df = pd.read_csv("human_or_ai_dataset.csv")

In [4]:
df.head()

                                                text source
0  12 Years a Slave: An Analysis of the Film Essa...  human
1  20+ Social Media Post Ideas to Radically Simpl...  human
2  2022 Russian Invasion of Ukraine in Global Med...  human
3  533 U.S. 27 (2001) Kyllo v. United States: The...  human
4  A Charles Schwab Corporation Case Essay\n\nCha...  human

## Tentar com outras libs

In [5]:
# Encode the source column, "human" = 0, "ai" = 1
df["source"] = df["source"].apply(lambda x: 0 if x == "human" else 1)

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

# Assume df is your original DataFrame (loaded from a CSV, possibly with Dask)
print(df.info())

# Initialize CountVectorizer with binary features
vectorizer = CountVectorizer(max_features=10000, binary=True)

# Fit and transform the text data (using the first 50,000 rows)
X = vectorizer.fit_transform(df['text'].head(50000))

# Convert the sparse matrix to a DataFrame with the feature names as columns
df_encoded = pd.DataFrame(
    X.astype("int8").toarray(),
    columns=vectorizer.get_feature_names_out()
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3400868 entries, 0 to 3400867
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   text    object
 1   source  int64
dtypes: int64(1), object(1)
memory usage: 51.9+ MB
None

In [17]:
df_encoded.head()

,00,000,01,02,03,04,05,06,07,08,...,youth,youthful,youths,youtube,yu,zealand,zero,zhang,zone,zones
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# Split the data: First separate out 20% as the test set.
df_train_val, df_test = train_test_split(df_encoded, test_size=0.2, random_state=25)

# Now split the remaining 80% into training and validation sets.
# Since we want a total of 10% of the original data for validation, we split 12.5% of the remaining data.
df_train, df_val = train_test_split(df_train_val, test_size=0.125, random_state=25)

# Write each DataFrame split to CSV files.
df_train.to_csv('train.csv', index=False)
df_val.to_csv('validation.csv', index=False)
df_test.to_csv('test.csv', index=False)